@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
}

/* For WebKit-based browsers */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* Transparent background for the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(71, 71, 71, 0.8); /* Translucent black scrollbar */
  border-radius: 4px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(54, 54, 54, 0.8); /* Darker on hover */
}

::-webkit-scrollbar-thumb:active {
  background-color: rgba(34, 34, 34, 0.8); /* Even darker when active */
}

::-webkit-scrollbar-corner {
  background: transparent; /* Remove corner where two scrollbars meet */
}

/* Optional: Auto-hide scrollbars (WebKit only) */
body, html {
  overflow: overlay; /* Enables auto-hide for WebKit browsers */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body {
  background-color: #000000;
}